O objetivo desta tarefa é gerar as estatísticas para o atributo age da base de dados do censo

Carregue o arquivo census.csv

Calcule a média aritmética, média harmônica, média geométrica, média quadrática, a mediana e a moda. Compare os resultados

In [64]:
import pandas as pd
import numpy as np
import statistics
from scipy.stats.mstats import gmean, hmean
import math

In [65]:
dados = pd.read_csv('census.csv')
dados.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [66]:
idade = dados['age'].values
print(idade)

[39 50 38 ... 58 22 52]

In [67]:
def media_quadratica_calculo(valores):
    quadrado = [x**2 for x in valores]
    media = math.sqrt((sum(quadrado)/len(quadrado)))
    return media

In [68]:
# media aritmética
media_aritmetica = np.mean(idade)
print(f'A média aritmética é {media_aritmetica:.2f}')
# Média harmonica
media_harmonica = hmean(idade)
print(f'A média harmônica é {media_harmonica:.2f}')
#Média geométrica
media_geometrica = gmean(idade)
print(f'A média geometrica é {media_geometrica:.2f}')
#Média quadrática
media_quadratica = media_quadratica_calculo(idade)
print(f'A média quadrática é {media_quadratica:.2f}')
#Mediana
mediana = np.median(idade)
print(f'A mediana é {mediana:.2f}')
#Moda
moda = statistics.mode(idade)
print(f'A moda é {moda}')

A média aritmética é 38.58
A média harmônica é 33.92
A média geometrica é 36.21
A média quadrática é 40.92
A mediana é 37.00
A moda é 36